* {
  outline: 1px solid red;
  outline-offset: -1px;
}

body {
  padding: 0;
  margin: 0;
}

body > div,
nav,
main,
footer {
  padding: 0 50px;
}

p {
  margin: 0;
  padding: 0;
}

img {
  min-width: 100px;
  max-width: 150px;
  width: 100%;
}

nav > ul {
  display: flex;
  /* padding: 5px 0; */
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style: none;
  background: rgb(90, 240, 53);
}

nav > ul > li {
  position: relative;
  font-size: 0.6em;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  text-align: center;
}

nav > ul > li:hover {
  background: rgb(129, 253, 97);
}

/* 
  ul 왼쪽 패딩을 없애고 
  dropdown menu가 parent width와 같도록 설정
*/
nav > ul > li > ul {
  padding: 0;
  width: 100%;
}

main {
  display: flex;
}

main > span {
  flex-grow: 4;
}

section {
  display: flex;
  flex-wrap: nowrap;
}

section > span {
  margin: 5px;
  flex-basis: 25%;
}

main > aside {
  flex-grow: 1;
}

header {
  display: flex;
  /* justify-content: space-around; */
  border-bottom: 1px solid grey;
  padding: 5px 50px;
  font-size: 1.5em;
}

header span {
  flex-grow: 1;
}

body > nav .dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

body > nav .dropdown-content a {
  box-sizing: border-box;
  text-decoration: none;
  display: block;
}

body > nav > ul > li:hover .dropdown-content {
  display: block;
}
