* {
  outline: 1px solid red;
  outline-offset: -1px;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

body > div,
main,
footer {
  padding: 0 50px;
}

p {
  margin: 0;
  padding: 0;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f5f5f5;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  /* justify-content: space-around; */
  border-bottom: 1px solid grey;
  padding: 5px 50px;
  font-size: 1.5em;
}

header span {
  flex-grow: 1;
  flex-basis: 0;
}

header span a {
  display: block;
}

nav > ul {
  display: flex;
  /* padding: 5px 0; */
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
  background: #ccff90;
}

nav > ul > li {
  position: relative;
  font-size: 1.2em;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  min-width: 130px;
  max-width: 180px;
  height: 30px;
  line-height: 30px;
}

nav > ul > li > a:first-child {
  margin-top: 10px 0;
}

nav > ul > li:hover {
  background: rgb(129, 253, 97);
}

/* 
  ul 왼쪽 패딩을 없애고 
  dropdown menu가 parent width와 같도록 설정
*/
nav > ul > li > ul {
  padding: 0;
  width: 100%;
}

body > nav .dropdown-content {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

body > nav .dropdown-content a {
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

body > nav > ul > li:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  background: rgb(129, 253, 97);
}

body > nav > ul > li:hover .dropdown-content a {
  background: rgb(129, 253, 97);
}

body > nav > ul > li:hover .dropdown-content a:first-child {
  margin-top: 5px;
}

body > nav > ul > li .dropdown-content a:hover {
  background: #99cc60;
}

main {
  display: flex;
}

main > span {
  flex-grow: 4;
  flex-basis: 0;
}

main > span > section img {
  min-width: 50px;
  max-width: 300px;
  width: 100%;
}

section {
  display: flex;
  flex-wrap: nowrap;
}

section > span {
  margin: 5px;
  flex-basis: 25%;
}

main > aside {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 200px;
  min-width: 150px;
}
